@import "../../../variables.scss";

.recently-viewed-egg-container {
    display: flex;
    align-items: center;
    gap: $_10_SPACING_SIZE;
    padding: $_20_SPACING_SIZE;
    background: #EEE; 
}

.egg-container .curator-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $_5_SPACING_SIZE;
    text-align: center;
}

.egg-container .curator-section .curator-avatar {
    height: 50px;
    width: 50px;
    background-color: $DARK_COLOR;
    border-radius: 100px;
    background-size: cover;
    background-position: center center;
    background-image: url(https://avatars.dicebear.com/api/pixel-art-neutral/lebyanelm.svg);
}

.egg-container,
.egg-container .egg {
    display: flex;
    gap: $_10_SPACING_SIZE;
    align-items: center;
}

.egg-container-thumbnail {
    height: 200px;
    width: 200px;
    background: #DDD;
    background-position: center center;
    background-size: cover;
    background-image: url(https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fit,w_auto,g_center,q_auto:best,dpr_1.0,f_auto/xeq8xre6kqjuiewobx8v);
}

.egg-container .egg-container-details {
    display: flex;
    padding: 0 $_10_SPACING_SIZE;
    flex-direction: column;
    gap: $_10_SPACING_SIZE;
}

.egg-container .egg-container-name {
    color: $DARK_COLOR;
    cursor: pointer;
}

.egg-container .egg-container-name:hover {
    color: $THEME_COLOR;
}

// Egg perfomance and social sharing
.recently-viewed-egg-container .egg-perfomance-socials {
    display: flex;
    flex-direction: column;
    gap: $_10_SPACING_SIZE;
}

.recently-viewed-egg-container .egg-perfomance-socials .egg-perfomance-funds-raised {
    text-decoration: underline;
    cursor: pointer;
}

.recently-viewed-egg-container .egg-perfomance-socials .egg-perfomance-funds-raised .currency {
    color: $THEME_COLOR;
}

.recently-viewed-egg-container .egg-perfomance-socials .egg-perfomance-progress {
    width: 100%;
    height: 8px;
    background: #DDD;
}

.recently-viewed-egg-container .egg-perfomance-progress .egg-perfomance-current {
    height: 100%;
    background: $THEME_COLOR;
}

// Social buttons
.recently-viewed-egg-container .egg-perfomance-socials .social-button.LinkedIn {
    background: $THEME_COLOR;
}