<ion-content>
  <app-header></app-header>

  <div class="page-content">
    <div class="content-wrapper">
      <div class="payment-information-container">
        <!-- Fields and options on which payment methods to use. -->
        <div class="payment-information">
          <div class="header-text-style">Add a payment method</div>

          <br />
          <div class="section-title-style">Use instant methods</div>
          <div class="instant-methods">
            <div class="instant-payment-method" data-selected="true">
              <div class="payment-method-logo">
                <ion-icon name="logo-paypal"></ion-icon>
              </div>
              <div class="payment-method-name">Via PayPal</div>
            </div>

            <div class="instant-payment-method">
              <div class="payment-method-logo">
                <ion-icon name="logo-google"></ion-icon>
              </div>
              <div class="payment-method-name">Via Google</div>
            </div>
          </div>

          <div class="separator" title="Use credit card method"></div>

          <div class="formfields credit-card-formfield">
            <div class="formfield">
              <label class="section-title-style" for="">Card name</label>
              <input
                type="tel"
                class="input-field"
                name="card-name"
                placeholder="eg. My primary card"
              />
            </div>

            <div class="formfield">
              <label class="section-title-style" for="">Card number</label>
              <input
                type="tel"
                class="input-field"
                name="card-number"
                placeholder="eg. 1234 1234 1234 1234"
              />
            </div>

            <div class="split-formfields">
              <div class="formfield">
                <label class="section-title-style" for=""
                  >Expiry month and year</label
                >
                <input
                  type="tel"
                  class="input-field"
                  placeholder="eg. 04/44"
                  name="card-expiry"
                />
              </div>

              <div class="formfield">
                <label class="section-title-style" for="">Security code</label>
                <input type="tel" class="input-field" placeholder="eg. 434" />
              </div>
            </div>
          </div>

          <button>Approve and Add payment method</button>
        </div>

        <!-- Disclaimers about adding payment methods -->
        <div class="payments-disclaimer">
          <div class="section-title-style">Payments disclaimer</div>
          <span class="paragraph-text-style"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
            sint excepturi natus quia distinctio minima totam, et ipsum ab iste
            sunt laboriosam similique! Sapiente ducimus asperiores quas totam
            sed quidem nam, adipisci dolorum temporibus iure fugiat commodi nisi
            eligendi dolore ut alias doloribus rem corrupti quos aut voluptatem
            distinctio placeat.</span
          >
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
