<ion-content>
  <app-header></app-header>

  <div class="page-content">
    <div class="content-wrapper">
      <div class="payment-information-container">
        <!-- Fields and options on which payment methods to use. -->
        <div class="payment-information">
          <div class="header-text-style">Add a payment method</div>

          <br />
          <div class="section-title-style">Using other methods</div>
          <div class="instant-methods">
            <div class="button" [style.background]="'#003087'">
              Cash-payments with PayPal
            </div>

            <div class="button secondary">Crypto-cash with Coinbase</div>
          </div>

          <div class="separator" title="Use credit card method"></div>

          <div class="formfields credit-card-formfield">
            <div class="formfields">
              <div class="formfield">
                <label for="">Card holder</label>
                <input type="text" placeholder="eg. MR YM DAVIS" />
              </div>
            </div>
            <div class="formfields">
              <div class="formfield">
                <label for="">Card number</label>
                <input
                  type="text"
                  placeholder="eg. 4200000000000001"
                  #CardNumber
                />
              </div>
            </div>
            <div class="split-formfields">
              <div class="formfields">
                <div class="formfield">
                  <label for="">Expiry date</label>
                  <input type="text" placeholder="eg. YYYY/MM" />
                </div>
              </div>
              <div class="formfields">
                <div class="formfield">
                  <label for="">Security code / CVV</label>
                  <input type="text" placeholder="eg. 434/3" />
                </div>
              </div>
            </div>
          </div>

          <button (click)="this.addPaymentMethod()">
            Approve and Add payment method
          </button>
        </div>

        <!-- Disclaimers about adding payment methods -->
        <div class="payments-disclaimer">
          <div class="section-title-style">Payments disclaimer</div>
          <div class="paragraph-text-style disclaimer-text">
            We offer a range of payments so you can be able to reach-out to
            assisting companies hosted with us. Payments made through
            <b>PayPal</b> and <b>Coinbase</b> are governed by their terms and
            conditions of the respective payment processors, although any issues
            can be raised through us. Credit card payments are processed with
            the help of <b>PeachPayments</b>, respective terms and conditions
            can be found on their website. More payment processor information is
            listed in our policies, all payments are processed securely and
            safely.
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
