@import "../../../variables.scss";

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  background-color: $THEME_COLOR;
  border-radius: 100px;
}

.loader-spinner {
  display: block;
  height: 50%;
  width: 50%;
  border: 2px solid $WHITE_COLOR;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation-name: spinner;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 100px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
