<div class="footer-container">
  <div class="desktop-footer-container">
    <div class="site-footer-logo">
      <img
        src="/assets/tcf-coloured.svg"
        alt="Towards Common Foundry, Ltd Logo"
      />
    </div>

    <div class="footer-navigation-sections">
      <div class="footer-navigation-section">
        <div
          class="navigation-section-title header-text-style smaller company-name"
        >
          Towards Common Foundry
        </div>
        <div class="section-links">
          <a
            class="no-decoration"
            href="https://towardscommonfoundry.com/about"
            target="_blank"
            >About company</a
          >
          <a
            class="no-decoration"
            href="https://towardscommonfoundry.com/about/mission-statement"
            target="_blank"
            >Our mission statement</a
          >
          <a class="no-decoration">Funding statistics</a>
          <a class="no-decoration">Visit our blog</a>
          <a class="no-decoration">Partnerships and sponsors</a>
        </div>
      </div>

      <div class="footer-navigation-section">
        <div class="navigation-section-title header-text-style smaller">
          Community and collaboration
        </div>
        <div class="section-links">
          <a class="no-decoration" href="">For the needy</a>
          <a class="no-decoration">Refer a friend</a>
          <a class="no-decoration">Community initiatives</a>
        </div>
      </div>

      <div class="footer-navigation-section">
        <div class="navigation-section-title header-text-style smaller">
          Build better campaigns
        </div>
        <div class="section-links">
          <a class="no-decoration" href="">Fee structure</a>
          <a class="no-decoration">Project management guide</a>
          <a class="no-decoration">Design resources</a>
        </div>
      </div>
    </div>

    <div class="footer-bottom-links">
      <div class="footer-legal-links">
        <a href="/help">Ask for support</a>
        <a class="no-decoration" href="/policies/privacy-policy"
          >Privacy policy</a
        >
        <a class="no-decoration" href="/policies/refund-policy"
          >Refund policy</a
        >
        <a class="no-decoration" href="/policies/cookie-policy"
          >Cookie policy</a
        >
        <a class="no-decoration" href="/policies/payments-policy"
          >Payments policy</a
        >
      </div>

      <div class="footer-social-links">
        <a
          href="https://facebook.com/hetchfund.capital/"
          target="_blank"
          class="no-decoration"
          href=""
          ><ion-icon name="logo-facebook"></ion-icon
        ></a>
        <a
          href="https://twitter.com/hetchfund.capital/"
          target="_blank"
          class="no-decoration"
          href=""
          ><ion-icon name="logo-twitter"></ion-icon
        ></a>
        <a
          href="https://instagram.com/hetchfund.capital/"
          target="_blank"
          class="no-decoration"
          href=""
          ><ion-icon name="logo-instagram"></ion-icon
        ></a>
      </div>
    </div>
  </div>
</div>

<div class="footer-center-attribution">
  Proudly South African &copy; Hetchfund, courtesy of Towards Common Foundry Ltd
  &trade; 2022
</div>
