<div class="header-container">
  <div class="desktop-header-container">
    <div class="header-logo-container"><img src="/assets/icon.svg" alt="Hetchfund Logo"></div>

    <div class="header-navigation-links">
      <a href="/categories" class="navigation-link no-decoration">Browse categories</a>
      <a href="/create" class="navigation-link no-decoration">Create an egg</a>
    </div>
    
    <div class="header-spacing"></div>
    
    <div class="header-navigation-links">
      <a href="/search" class="navigation-link no-decoration icon-text-style"> <ion-icon name="search"></ion-icon> Search our farm</a>
      <!-- When there is an active session -->
      <a href="/profile/lebyalm" class="navigation-link profile-link no-decoration" *ngIf="isSessionActive">
        <span class="profile-name theme-color-style icon-text-style">Lebyane, L <ion-icon name="chevron-down-sharp"></ion-icon> </span>
        <span class="profile-avatar" data-notification-count="43"></span>
      </a>

      <!-- When there's no session active -->
      <a href="/signin" class="navigaion-link no-decoration" *ngIf="!isSessionActive">Sign-In</a>
      <a href="/signin" class="navigaion-link no-decoration" *ngIf="!isSessionActive">Create an account</a>
    </div>
  </div>
</div>