@import "../../../variables.scss";

// DESKTOP HEADER STYLING
.header-container .desktop-header-container,
.header-container .mobile-header-container {
  display: flex;
  flex-direction: row;
  // border-bottom: $BORDER;
  align-items: center;
  padding: $_10_SPACING_SIZE $_20_SPACING_SIZE;
  margin-bottom: 80px;
  background: $DARK_COLOR;
  gap: $_20_SPACING_SIZE;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.header-container[hasBackground="false"] .desktop-header-container {
  background: transparent;
  border: none;
}

// MOBILE HEADER VERSION
.header-container .mobile-header-container {
  display: none;
  justify-content: space-between;
}

.header-container .mobile-header-container .hamburgar-menu-button {
  display: flex;
  flex-direction: column;
  gap: $_5_SPACING_SIZE;
}

.header-container .mobile-header-container .hamburgar-menu-button span {
  height: 3px;
  width: 30px;
  background: $WHITE_COLOR;
}

.header-container .desktop-header-container .header-logo-container,
.header-container .mobile-header-container .header-logo-container {
  height: 25px;
  width: 25px;
}

// SPACING
.header-container .header-spacing {
  flex: 5;
}

// NAVIGATION LINKS
.header-container .header-navigation-links {
  display: flex;
  align-items: center;
  gap: $_10_SPACING_SIZE;
}

.header-container .header-navigation-links a,
.header-container .header-navigation-links a ion-icon,
.header-container .header-navigation-links a > span {
  color: $WHITE_COLOR;
  // font-weight: bold;
}

.header-container .header-navigation-links a:hover {
  color: $THEME_COLOR;
  text-decoration: underline;
  text-underline-offset: 2px;
}

// PROFILE LINKS
.header-container .header-navigation-links a.profile-link {
  display: inline-flex;
  align-items: center;
  gap: $_10_SPACING_SIZE;
  margin-left: $_10_SPACING_SIZE;
}

.header-container .header-navigation-links a.profile-link .profile-avatar {
  height: 20px;
  display: none;
  width: 20px;
  background: $GRAY_COLOR;
  border-radius: 100px;
  background-size: cover;
  background-position: center center;
  position: relative;
  border: $BORDER;
}

// NOTIFICATION COUNTER
.header-container
  .header-navigation-links
  a.profile-link
  .profile-avatar::after {
  content: attr(data-notification-count);
  position: absolute;
  top: 0;
  right: 0;
  direction: rtl;
  padding: 0px 4px;
  background: $THEME_COLOR;
  border: 1.5px solid $WHITE_COLOR;
  font-size: calc(0.825rem * var(--font-size-multiplier));
  font-weight: bold;
  color: $WHITE_COLOR;
  border-radius: 20px;
  transform: translateY(-2px);
}

.signout-button {
  color: tomato !important;
  font-weight: bolder;
}

@media screen and (max-width: 960px) {
  .desktop-header-container {
    display: none !important;
  }

  .mobile-header-container {
    display: flex !important;
  }
}
