<div class="egg-campaign-container">
  <div class="thumbnail-container"></div>
  <div class="egg-campaign-details">
    <div class="name-bookmark-section">
      <a
        class="name header-text-style smaller"
        href="/campaigns/the-ranchers---JAHaP46MEs"
        >DearBuds: Powerful Hi-Fi Speaker with Iconic Design.</a
      >
      <button class="bookmark-button icon-button" isBookmarked="false">
        <ion-icon name="bookmark-sharp"></ion-icon>
      </button>
    </div>

    <!-- The name of the egg campaign -->
    <div class="description paragraph-text-style">
      A studio-grade professional listening experience sets musicians back
      $10,000s.
    </div>

    <a class="category">Video Games and Technology</a>
  </div>

  <div class="funding-perfomance">
    <div class="amount-funded-percentage">
      <!-- <div class="amount-funded">
        ZAR{{this.toLocaleString(3454323.30)}} raised
      </div> -->
      <strong class="percentage-funded">32.33% funded</strong>
    </div>

    <div class="funding-progress">
      <div class="funding-progress-current"></div>
    </div>
  </div>
</div>
