<div class="page-content">
  <div class="error-page-container">
    <div class="section">
      <!-- PLAFTORM LOGO -->
      <img class="platform-logo" src="/assets/logo-text-outlined.svg" alt="Platform Logo (with Text)">

      <div class="error-page-code">{{error_title}}</div>
      <div class="error-page-title"> That's unexpected. You might be an invader at act.</div>
      <p class="error-page-description">{{error_message}}</p>

      <div class="error-page-buttons">
        <a class="button" (click)="this.goBack()">Take me back</a>
        <a href="https://www.hetchfund.capital/random-egg" class="button secondary">Play the Odds</a>
      </div>

      <br>
      <a href="">Check our status page for system health</a>

      <div class="error-page-footer">
        <p>Hetchfund.Capital &trade;, A product of Nextify Technologies, (PTY) LTD reg. 2020/43053/07. All rights reserved &copy;</p>
      </div>
    </div>
    <div class="section"></div>
  </div>
</div>
