<ion-content>
  <app-header></app-header>

  <div class="page-content">
    <div class="content-wrapper">
      <!-- The title of the project / campaign -->
      <div class="egg-campaign-name header-text-style">
        DearBuds: Powerful Hi-Fi Speaker with Iconic Design.
      </div>
      <div class="egg-campaign-description paragraph-text-style">
        DearBuds: Powerful Hi-Fi Speaker with Iconic Design.
      </div>

      <!-- The thumbnail / video based thumbnail with the campaign stages. -->
      <div class="egg-campaign-thumbnail-stages">
        <!-- The thumbnail / video. -->
        <div class="egg-campaign-thumbnail-container">
          <div class="egg-campaign-thumbnail" *ngIf="true"></div>
          <div class="egg-campaign-videoplayer" *ngIf="false"></div>
          <div class="hetching-progress">
            <div class="hetching-progress-current"></div>
          </div>
        </div>

        <!-- The stages. -->
        <div class="egg-campaign-stages-container">
          <!-- Section title. -->
          <div class="egg-campaign-stages-title-top">
            <div class="header-text-style small">Stages</div>
            <div class="paragraph-text-style">
              Steps the campaign has to go through to reach production.
            </div>
          </div>

          <!-- The actual stages -->
          <div class="egg-campaig-stages">
            <div class="stage" title="Stage has been completed.">
              <div class="stage-status">
                <ion-icon name="checkmark-sharp"></ion-icon>
              </div>
              <div class="stage-count-number">1.</div>
              <div class="stage-name">Planning and Design</div>
            </div>

            <div class="stage current" title="Stage in progress.">
              <div class="stage-status"></div>
              <div class="stage-count-number">2.</div>
              <div class="stage-name">Funding and Capital raising</div>
            </div>

            <div class="stage" title="Upcoming.">
              <div class="stage-status"></div>
              <div class="stage-count-number">3.</div>
              <div class="stage-name">Developing a testing prototype</div>
            </div>

            <div class="stage" title="Upcoming.">
              <div class="stage-status"></div>
              <div class="stage-count-number">4.</div>
              <div class="stage-name">Prototype approval</div>
            </div>

            <div class="stage" title="Upcoming.">
              <div class="stage-status"></div>
              <div class="stage-count-number">5.</div>
              <div class="stage-name">Producing a working product</div>
            </div>

            <div class="stage" title="Upcoming.">
              <div class="stage-status"></div>
              <div class="stage-count-number">6.</div>
              <div class="stage-name">Final testing</div>
            </div>

            <div class="stage" title="Upcoming.">
              <div class="stage-status"></div>
              <div class="stage-count-number">7.</div>
              <div class="stage-name">
                Sending out rewards to hetchers and market
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-selector-section">
        <div class="tabs">
          <a
            class="tab no-decoration active"
            href="/campaigns/the-ranchers---JAHaP46MEs?tab=story"
            >Story</a
          >
          <a
            class="tab no-decoration"
            href="/campaigns/the-ranchers---JAHaP46MEs?tab=challenges"
            >Challenges</a
          >
          <a
            class="tab no-decoration"
            href="/campaigns/the-ranchers---JAHaP46MEs?tab=community"
            >Community</a
          >
          <a
            class="tab no-decoration"
            href="/campaigns/the-ranchers---JAHaP46MEs?tab=resources"
            >Campaign Resources</a
          >
        </div>

        <div class="action-buttons">
          <button class="theme-color">Fund This Campaign</button>
          <button class="secondary">Add to Eggmarked</button>
        </div>
      </div>

      <div class="bottom-body-section">
        <!-- View of the currently opened Tab. -->
        <div class="selected-tab-view">
          <div class="story-tab paragraph-text-style">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloribus qui mollitia minima sunt maiores molestias debitis natus
              perferendis, consectetur fuga sequi corrupti repellat numquam, eos
              est quia iste ipsum, nemo eum id praesentium tenetur. Mollitia
              officia, veritatis, libero harum qui expedita in cumque cum quasi
              recusandae architecto adipisci, debitis fugit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
              iste reprehenderit animi error, consectetur distinctio a non illo
              ipsum itaque labore, voluptatibus cumque repudiandae accusamus.
              Modi atque molestiae quas voluptatibus, saepe consequuntur
              voluptatum, eaque sed assumenda totam aperiam fuga laboriosam,
              distinctio quo. Asperiores, debitis hic. Neque, fuga hic assumenda
              ex unde nemo quisquam autem, repellat temporibus impedit ratione
              debitis tempore.
            </p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt aut
              natus optio alias a? Rem harum dolorem magnam similique? Modi
              suscipit dolorum temporibus inventore unde doloribus, nostrum eius
              necessitatibus voluptatibus fuga porro nihil dolorem beatae culpa
              fugiat mollitia quod sit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit,
              culpa. Eum, rem ducimus! Animi blanditiis dicta cupiditate libero
              amet voluptatibus cum. Repellendus voluptate aut libero ad ea
              numquam vitae consectetur sint ut, cum accusamus provident
              doloremque alias obcaecati dignissimos. Culpa, inventore a.
              Voluptas sed repellat vel harum, alias debitis culpa officia
              similique dolorem! Excepturi recusandae quibusdam dolorum a
              temporibus sunt quae ab, reiciendis id molestias.
            </p>
          </div>
        </div>

        <!-- Stats and Information of the campaign egg. -->
        <div class="campaign-information-stats">
          <!-- Statistics of the egg campaign funding. -->
          <div class="campaign-statistics">
            <div class="statistic">
              <div class="graphbars">
                <span class="filled"></span> <span class="filled"></span>
                <span></span>
              </div>
              <div class="name">Hetching Strength</div>
            </div>

            <div class="statistic">
              <span class="value header-text-style smaller">ZAR 495,322</span>
              <div class="name">Funds Hetched</div>
            </div>

            <div class="statistic">
              <span class="value header-text-style smaller">ZAR 100,000</span>
              <div class="name">Goal</div>
            </div>

            <div class="statistic">
              <span class="value header-text-style smaller">5,322</span>
              <div class="name">Hetchers</div>
            </div>
          </div>

          <!-- A short-description why the campany deserves the funding. -->
          <div class="egg-campaign-funding-purpose">
            <b>To:</b>
            <span class="funding-purpose">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo
              quis ex eius, expedita similique asperiores odit ea, possimus
              tempora iste, repellat inventore necessitatibus deserunt laborum?
              Officia voluptatibus, fugit minus dolorem aliquam voluptatem quo
              soluta error rerum esse ad sunt hic!</span
            >
          </div>

          <!-- Curator information: Admin of the campaign egg -->
          <div class="egg-campaign-curator">
            <div class="header-text-style small">Curators</div>
            <div class="curator">
              <div class="avatar-container"><div class="avatar"></div></div>
              <div class="curator-details">
                <div class="name">
                  <a href="/hetcher/nextuft">Nextuft Technologies</a> ✱
                  <a href=""
                    >Following <ion-icon name="checkmark-sharp"></ion-icon
                  ></a>
                </div>
                <div class="curator-egg-campaign-role">
                  Electronics and Technology
                </div>
                <!-- The role the curator has in the egg. -->
              </div>
            </div>
          </div>

          <!-- Category listings defined in the campaign. -->
          <div class="egg-campaign-categories-list">
            <div class="header-text-style small">Tags</div>
            <div class="categories">
              <a href="">Electronics</a>
              <a href="">Technology</a>
              <a href="">Innovation</a>
              <a href="">Safety</a>
              <a href="">Travelling</a>
              <a href="">Wellbeing</a>
            </div>
          </div>
        </div>
      </div>

      <div class="related-egg-campaigns">
        <div class="header-text-style">Related</div>
        <div class="paragraph-text-style">
          With keywords of this campaign here are related eggs.
        </div>

        <div class="page-eggs-layout">
          <app-egg></app-egg>
          <app-egg></app-egg>
          <app-egg></app-egg>
          <app-egg></app-egg>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
