<ion-content>
  <app-header></app-header>

  <div class="page-content">
    <!-- Section seperator -->
   <section class="content-wrapper">
    <div class="header-text-style" style="display: flex; align-items: center; gap: 10px;"><a class="header-text-style" href="/categories"><ion-icon name="arrow-back-sharp"></ion-icon> Back</a> Category "{{this.selectedCategory}}"</div>

    <div class="page-eggs-layout">
      <app-egg></app-egg>
      <app-egg></app-egg>
      <app-egg></app-egg>
      <app-egg></app-egg>
    </div>
   </section>
  </div>
  
  <app-footer></app-footer>
</ion-content>