<ion-content>
  <app-header></app-header>
  <div class="page-content centered-content">
    <div class="formfield">
      <div class="formfield-header">
        <div class="header-text-style">Welcome back</div>
        <span
          >Continue being part of an economic building platform to better the
          world.</span
        >
      </div>

      <div class="formfield-fields">
        <input
          type="text"
          class="field"
          placeholder="Your email address"
          value="lebyane.lm@gmail.com"
          autocomplete="email"
          #EmailAddressField
        />
        <input
          type="password"
          class="field"
          placeholder="Choose a password"
          value="password2"
          autocomplete="new-password"
          #PasswordField
        />
      </div>

      <p class="clause-notice">
        By logging in to your account with our platform you agree to our terms
        and conditions that are stated in our
        <a href="">Terms & Conditions Page.</a>
      </p>

      <div class="formfield-buttons">
        <button #SignInButton (click)="this.signin()">
          Sign-In to your account
        </button>
      </div>

      <div class="formfield-social-buttons">
        <button class="apple">
          <ion-icon name="logo-apple"></ion-icon>
          Sign in with Apple
        </button>
        <button class="secondary">
          <ion-icon name="logo-google"></ion-icon>
          Sign in with Google
        </button>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
