/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./variables.scss";

// GENERAL RULE STYLING AND RESETS
body, ion-content {
    padding: 0;
    margin: 0;
    background: transparentize(gray, .97);
    --background: transparentize(gray, .5);
}

body .page-content {
    padding: $_20_SPACING_SIZE;
}

body .content-wrapper {
    padding: var(--content-padding);
}

:root {
    // Utilized for responsive typography design
    --font-size-multiplier: 1;
    --content-padding: $_10_SPACING_SIZE;
    // Block black/dark mode forcefully
    color-scheme: light only;
}

* {
    box-sizing: border-box;
    font-family: $FONT_FAMILY;
    font-weight: 500;
}


// FIXING THE TYPOGRAPHY
* {
    font-size: calc(1rem * var(--font-size-multiplier));
}

*.theme-text-style {
    color: $THEME_COLOR;
}

.paragraph-text-style {
    display: block;
    color: transparentize($DARK_COLOR,  0.4);
    font-weight: 400; // Regular font weight
    max-width: 80%;
}

.paragraph-text-style.small {
    font-size: 0.875rem; // 14PX
}

.icon-text-style {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

// HEADER
.header-text-style {
    font-size: 1.875rem; // 30PX
    font-family: $FONT_FAMILY_HEADER;
    font-weight: 900; // Ultra Black weight
}

.header-text-style.small {
    font-size: 1.500rem;
}

.header-text-style.smaller {
    font-size: 1rem;
}

a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    color: $THEME_COLOR;
}

a.no-decoration {
    text-decoration: none;
}


// BUTTONS
button,
.button {
    display: inline-block;
    outline: none;
	padding: 13px 15px;
	border-radius: $BORDER_RADIUS;
	font-weight: bold;
	background: $DARK_COLOR;
	color: $LIGHT_COLOR;
	border: none;
	margin: 10px 0;
	text-transform: uppercase;
	cursor: pointer;
	opacity: .9;
	transition: opacity 300ms ease;
	letter-spacing: 2px;
    text-decoration: none !important;
    margin-right: 10px;
}

button > span,
.button > span,
button > strong,
.button > strong,
button,
.button {
    font-size: 0.700rem !important;
}

button.secondary,
.button.secondary {
    background: transparent;
    color: $DARK_COLOR;
    border: $BORDER;
}

button:hover,
.button:hover {
	opacity: 1;
}

button.error,
.button.error {
	background: $DANGER_COLOR;
}

// RESPONSIVENESS

@media screen and (max-width: 853px) {
    // ERROR PAGES
    .error-page-container {
        flex-direction: column;
    }

    .error-page-container div.section:first-child {
        border-right: none;
    }

    .error-page-container div.section:last-child {
        margin-top: 20px;
    }

    .error-page-container .error-page-code {
        margin-top: $_20_SPACING_SIZE;
        font-size: 70px;
        font-weight: 500;
    }

    .error-page-container .error-page-buttons {
        margin: 20px 0 5px 0;
    }

    // BUTTONS
    button,
    .button {
	    padding: 10px 13px;
    }

    .page-content {
        padding: 10px;
    }
}

// LARGER SCREEN SIZES
@media screen and (min-width: 1570px) {
    .content-wrapper {
        padding: $_20_SPACING_SIZE 15% !important;
    }
}