/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./variables.scss";

// Rich Text Editor
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-icons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css";

.e-toolbar-item[title="Insert Link"],
.e-toolbar-item[title="Code View"],
.e-toolbar-item[title="Alignments"] {
  display: none !important;
}

#js-licensing {
  display: none !important;
}

// YOCO INLINE PAYMENT METHOD CUSTOMIZATION
.yc-card-form-container label,
.formfields label {
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.6;
  font-size: small;
}

.yc-card-input-wrapper {
  border: $BORDER;
  border-radius: $BORDER_RADIUS;
  padding: 5px 0;
  margin-top: 5px;
  margin-bottom: 15px;
}

// CVV and Exp month split to two
.yc-expiry-cvv-holder {
  width: 100%;
  display: flex;
  gap: 10px;
}

// GENERAL RULE STYLING AND RESETS
body,
ion-content,
textarea {
  padding: 0;
  margin: 0;
  background: $BACKGROUND_COLOR;
  --background: transparent;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: $LIGHT_COLOR;
}

*::-webkit-scrollbar-thumb {
  background-color: $THEME_COLOR;
}

// SELECTION COLOR
*::selection {
  background-color: transparentize($THEME_COLOR, 0.8);
  color: $DARK_COLOR;
}

// PAGE CONTENT
body .page-content {
  padding: $_20_SPACING_SIZE;
  padding-top: 80px;
}

// Page content without a header present
body .page-content.headerless {
  padding-top: $_20_SPACING_SIZE;
}

body .page-content .page-header {
  padding-bottom: $_20_SPACING_SIZE;
}

body .page-content .page-header .page-logo img {
  height: 40px;
  filter: grayscale(1);
}

body .page-content.with-pattern::before {
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;

  background-image: url("/assets/rectangle-pattern.svg");
  background-repeat: repeat;
  background-size: contain;
  opacity: 0.02;
}

body .page-content.centered-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

body .content-wrapper {
  padding: var(--content-padding);
}

body .content-wrapper.split {
  display: flex;
  gap: $_20_SPACING_SIZE;
}

body .content-wrapper.split > * {
  flex: 1;
}

body .content-wrapper.split.bordered > *:first-child {
  border-right: $BORDER;
}

:root {
  // Utilized for responsive typography design
  --font-size-multiplier: 1;
  --content-padding: $_10_SPACING_SIZE;
  // Block black/dark mode forcefully
  color-scheme: light only;
}

* {
  box-sizing: border-box;
  font-family: $FONT_FAMILY;
  // font-weight: 500;
}

// FIXING THE TYPOGRAPHY
* {
  font-size: calc(1rem * var(--font-size-multiplier));
}

*.theme-text-style {
  color: $THEME_COLOR;
}

.paragraph-text-style {
  display: block;
  color: transparentize($DARK_COLOR, 0.4);
  font-weight: 400; // Regular font weight
  max-width: 80%;
}

.paragraph-text-style.small {
  font-size: 0.875rem; // 14PX
}

.icon-text-style {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

// ERROR MESSAGES
.danger-text-style {
  color: $DANGER_COLOR;
}

// BOLD TEXT
.bold-text-style {
  font-weight: bold;
}

// HEADER
.header-text-style,
.header-text-style * {
  font-size: 1.875rem; // 30PX
  font-family: $FONT_FAMILY_HEADER;
  font-weight: 900; // Ultra Black weight
}

.header-text-style.small {
  font-size: 1.5rem;
}

.header-text-style.smaller {
  font-size: 1rem;
}

.header-text-style.colored {
  color: $THEME_COLOR;
}

// SECTION TITLES
.section-title-style {
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: $THEME_COLOR;
}

a {
  display: inline-flex;
  align-items: center;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: $THEME_COLOR;
}

a:hover {
  text-decoration-thickness: 3px;
  cursor: pointer;
  color: $SECONDARY_THEME_COLOR;
}

a.no-decoration {
  text-decoration: none;
}

// LOADERS
button app-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparentize($DARK_COLOR, 0.5);
}

button app-loader[state="false"] {
  opacity: 0;
  user-select: none;
}

.text-loader::after {
  content: "";
  animation-name: dot-pulse;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: infinite;
  letter-spacing: 2px;
}

@keyframes dot-pulse {
  25% {
    content: " .";
  }
  50% {
    content: " ..";
  }
  95% {
    content: " ...";
  }
}

// BUTTONS
button,
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $_10_SPACING_SIZE;
  outline: none;
  font-weight: 900;
  color: $LIGHT_COLOR;
  margin: 10px 0;
  opacity: 0.9;
  transition: opacity 300ms ease;
  text-align: center;
  margin-right: 10px;
  position: relative;

  padding: 13px 15px;
  border-radius: $BORDER_RADIUS;
  /* font-weight: bold; */
  background: $THEME_COLOR;
  border: none;
  text-transform: uppercase;
  font-size: small;
  cursor: pointer;
  transition: opacity 300ms ease;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

button > span,
.button > span,
button > strong,
.button > strong,
button,
.button {
  font-size: 0.7rem !important;
}

button:disabled {
  opacity: 0.7;
}

button.dark-color,
.button.dark-color {
  background: $DARK_COLOR;
}

button.secondary,
.button.secondary {
  background: $WHITE_COLOR;
  color: $DARK_COLOR;
  border: $BORDER;
}

button.icon-button,
.button.icon-button {
  background: transparent;
  padding: $_10_SPACING_SIZE;
  color: $DARK_COLOR;
}

button.icon-button ion-icon,
.button.icon-button ion-icon {
  font-size: 22px; // TODO: Make it rems
}

button:hover:not(:disabled),
.button:hover {
  opacity: 1;
}

button.danger,
.button.danger {
  background: $DANGER_COLOR;
}

button.secondary.danger,
.button.secondary.danger {
  background: $WHITE_COLOR !important;
  color: $DANGER_COLOR;
}

// INPUTS
input,
textarea {
  display: block;
  outline: none;
  width: 100%;
  padding: 10px 0;
  text-indent: 15px;
  border-radius: $BORDER_RADIUS;
  background: $WHITE_COLOR;
  font-weight: bold;
  color: $DARK_COLOR;
  border: $BORDER;
  margin: calc($_10_SPACING_SIZE) 0;
  cursor: pointer;
  text-decoration: none !important;
  margin-right: 10px;
  font-family: "Fira Code", monospace, sans-serif !important;
  font-weight: 500;
}

input[type="checkbox"] {
  display: inline-block;
  width: 0;
}

.checkbox {
  display: flex;
  margin-bottom: $_10_SPACING_SIZE;
}

textarea {
  text-indent: 0;
  padding: 10px 15px;
  resize: none;
}

// SELECT INPUTS
.select {
  display: flex;
  align-items: center;
  position: relative;
  padding: $_10_SPACING_SIZE 0;
}

select {
  appearance: none;
  outline: none;
  position: relative;
  border: $BORDER;
  background: $WHITE_COLOR;
  padding: $_10_SPACING_SIZE $_20_SPACING_SIZE $_10_SPACING_SIZE
    $_10_SPACING_SIZE;
  font-weight: bold;
  width: 100%;
}

select:disabled {
  opacity: 0.7;
}

.select-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 $_10_SPACING_SIZE;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  background: transparent;
}

select::-ms-expand {
  display: none;
}

// EGGS LAYOUT
.page-eggs-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: $_20_SPACING_SIZE;
  padding: calc($_20_SPACING_SIZE * 2) 0;
  height: fit-content;
}

.page-eggs-layout .egg-container .campaign-progress {
  height: 8px;
  width: 100%;
  background: $LIGHT_COLOR;
  position: absolute;
  bottom: 0;
  left: 0;
}

.page-eggs-layout app-egg {
  display: block;
  height: 100%;
}

// FORM FIELDS: SIGN IN FIELDS, CREATE ACCOUNT
.formfields_ {
  width: 400px;
  height: fit-content;
  padding: $_20_SPACING_SIZE;
  border: $BORDER;
  background: $WHITE_COLOR;
  margin: calc($_20_SPACING_SIZE * 2) 0;
}

// FORMFIELD HEADER
.formfields_ .formfields_-header {
  display: block;
  margin-bottom: $_20_SPACING_SIZE;
}

.formfields_ .formfields_-header span,
.formfields_ .clause-notice {
  font-weight: 400;
  color: transparentize($DARK_COLOR, 0.3);
}

.formfields_ .formfields_-fields .field:focus {
  border-color: $DARK_COLOR;
}

// CHECKBOX COMBOS
.formfields {
  background: transparent;
  border: none !important;
  width: 100%;
}

.formfields .formfield {
  margin-top: $_10_SPACING_SIZE;
  width: 100%;
}

.formfields .split-formfields {
  display: flex;
  width: 100%;
  gap: $_10_SPACING_SIZE;
}

// SIGN IN AND SIGN UP FORMFIELDS
.account-formfields {
  width: 400px;
  height: fit-content;
  padding: $_20_SPACING_SIZE;
  border: $BORDER;
  // background: $WHITE_COLOR;
  margin: calc($_20_SPACING_SIZE * 2) 0;
}

.account-formfields button,
.account-formfields .button {
  width: 100%;
}

.formfields_ .clause-notice {
  display: block;
  padding-bottom: $_20_SPACING_SIZE;
  border-bottom: $BORDER;
}

.formfields_ .error-notice {
  color: $DANGER_COLOR;
  font-weight: bold;
  font-size: small;
}

// FORMFIELD SOCIAL BUTTONS
.formfields .social-buttons {
  position: relative;
}

.formfields .social-buttons button.apple {
  background: black;
}

// FOR SPLITING SECTIONS INTO GROUPS
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // height: 3px;
  border-top: $BORDER;
  margin: $_20_SPACING_SIZE 0;
  position: relative;
}

.separator::before {
  content: attr(title);
  display: block;
  width: fit-content;
  background: $BACKGROUND_COLOR;
  padding: 0 $_10_SPACING_SIZE;
  font-size: small;
  text-transform: uppercase;
  font-weight: bold;
  transform: translateY(-50%);
}

// CURRENCY RELATED
.currency-selectable {
  display: inline-block;
  padding-bottom: 2px;
  text-decoration: underline;
  font-weight: bold;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
  cursor: pointer;
}

.currency-selectable:hover {
  color: $THEME_COLOR;
  opacity: 1;
}

// RESPONSIVENESS
@media screen and (max-width: 853px) {
  // ERROR PAGES
  .error-page-container {
    flex-direction: column;
  }

  .error-page-container div.section:first-child {
    border-right: none;
  }

  .error-page-container div.section:last-child {
    margin-top: 20px;
  }

  .error-page-container .error-page-code {
    margin-top: $_20_SPACING_SIZE;
    font-size: 70px;
    font-weight: 500;
  }

  .error-page-container .error-page-buttons {
    margin: 20px 0 5px 0;
  }

  // BUTTONS
  button,
  .button {
    padding: 10px 13px;
  }

  .page-content {
    padding: 10px;
  }
}

// DROPDOWN MENUS
.dropdown {
  position: relative;
}

.dropdown .dropdown-content {
  display: none;
}

.dropdown.open .dropdown-content,
.box {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  transform: translateY(calc(100% + 10px)) translateX(calc(0));
  background: $WHITE_COLOR;
  padding: $_10_SPACING_SIZE;
  max-height: calc(100vh - 80px);
  overflow-y: scroll;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: $BORDER_RADIUS;
}

.dropdown .dropdown-content a {
  color: $DARK_COLOR !important;
}

.dropdown .dropdown-content a:hover {
  color: $THEME_COLOR !important;
}

// TO BRIDGE THE HOVERING STATE BETWEEN LINK AND DROPDOWN CONTENT
.dropdown.open::after {
  content: "";
  display: block;
  height: 40px;
  width: 100%;
  background: transparent;
  position: absolute;
  bottom: 0;
  transform: translateY(60%);
  left: 0;
  z-index: 100;
}

.dropdown .dropdown-content > a {
  padding: $_10_SPACING_SIZE;
  border-bottom: $BORDER;
}

.dropdown .dropdown-content > a:last-child {
  border-bottom: none;
}

.dropdown .dropdown-content > a:hover {
  background: transparentize($GRAY_COLOR, 0.7);
}

.dropdown .dropdown-content a[data-isselected="true"] {
  background: $THEME_COLOR;
  color: $WHITE_COLOR !important;
  border-bottom: none;
}

// MODALS
.default-modal {
  --backdrop-opacity: 0.8;
}

.consent-modal {
  --height: 200px;
}

.modal-container {
  padding: $_20_SPACING_SIZE;
  overflow-y: none;
  position: relative;
  height: 100%;
}

.modal-container .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $_10_SPACING_SIZE;
  margin-bottom: $_10_SPACING_SIZE;
  // border-bottom: $BORDER;
}

.consent-modal .modal-header {
  margin: 0 !important;
}

.modal-container .modal-footer {
  width: calc(100% - 40px);
  background: $WHITE_COLOR;
  padding: $_10_SPACING_SIZE 0;
  margin-top: $_10_SPACING_SIZE;
  border-top: $BORDER;
  position: absolute;
  bottom: 0;
}

.modal-content {
  overflow-y: scroll;
  max-height: 70%;
}

// DISCLAIMERS
.disclaimers {
  display: flex;
  flex-direction: column;
  margin-top: $_20_SPACING_SIZE;
  padding: $_20_SPACING_SIZE;
  gap: $_5_SPACING_SIZE;
  align-items: center;
  width: 100%;
}

.disclaimers .policies-anchors {
  display: flex;
  gap: $_10_SPACING_SIZE;
}

// LARGER SCREEN SIZES
@media screen and (min-width: 1570px) {
  .content-wrapper {
    padding: $_20_SPACING_SIZE 15% !important;
  }
}

// SMALLER
@media screen and (max-width: 1260px) {
  .page-eggs-layout {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1020px) {
  .page-eggs-layout {
    grid-template-columns: 1fr 1fr;
  }
}

// MOBILE DEVICES
@media screen and (max-width: 650px) {
  body,
  ion-content {
    background: #fff;
  }

  .page-eggs-layout {
    grid-template-columns: 1fr;
  }

  .page-eggs-layout app-egg .egg-campaign-container {
    border: none;
    border-bottom: $BORDER;
    border-width: 2px;
    padding-bottom: $_20_SPACING_SIZE;
  }

  .page-eggs-layout app-egg:last-child .egg-campaign-container {
    border-bottom: none;
  }

  .page-eggs-layout app-egg .egg-campaign-container .egg-campaign-details {
    padding: $_10_SPACING_SIZE 0 !important;
  }

  .page-eggs-layout app-egg .funding-perfomance .amount-funded-percentage {
    padding: $_10_SPACING_SIZE 0 !important;
  }

  app-recently-viewed-egg {
    display: none;
  }

  .formfields_ {
    border: none;
    padding: calc($_20_SPACING_SIZE * 2) 0;
    background: transparent;
  }
}
