// COLORS
$THEME_COLOR: #00684a;
$DARK_COLOR: #162328;
$WHITE_COLOR: #ffffff;
$LIGHT_COLOR: #f5f5f5;
$GRAY_COLOR: #d1d1d1;
$BACKGROUND_COLOR: $LIGHT_COLOR;
$DARK_GRAY_COLOR: #b6b6b6;
$DANGER_COLOR: #ff6347;

// SHAPES AND SIZES
$_5_SPACING_SIZE: 5px;
$_10_SPACING_SIZE: 10px;
$_20_SPACING_SIZE: 20px;

$FONT_SIZE: 15px;
$HEADER_SIZE: 40px;
$BORDER: 1.5px solid $GRAY_COLOR;
$BORDER_RADIUS: 0;

// TYPOGRAPHY
$FONT_FAMILY: "GT Walsheim Pro", "Roboto", sans-serif, arial;
$FONT_FAMILY_MONOSPACED: "Fira Code", monospace, sans-serif, arial;
$FONT_FAMILY_HEADER: "GT Walsheim Pro", $FONT_FAMILY;
