// COLORS
$THEME_COLOR: rgb(45, 45, 45);
$SECONDARY_THEME_COLOR: rgb(38, 121, 102);
$THME_LIGHTER_COLOR: rgb(45, 45, 45);
$DARK_COLOR: rgb(0, 0, 0);
$WHITE_COLOR: rgb(255, 255, 255);
$LIGHT_COLOR: rgb(245, 245, 245);
$GRAY_COLOR: rgb(209, 209, 209);
$BACKGROUND_COLOR: $LIGHT_COLOR;
$DARK_GRAY_COLOR: rgb(182, 182, 182);
$DANGER_COLOR: rgb(255, 99, 71);

// SHAPES AND SIZES
$_5_SPACING_SIZE: 5px;
$_10_SPACING_SIZE: 10px;
$_20_SPACING_SIZE: 20px;

$FONT_SIZE: 15px;
$HEADER_SIZE: 40px;
$BORDER: 1.5px solid $GRAY_COLOR;
$BORDER_RADIUS: 4px;

// TYPOGRAPHY
$FONT_FAMILY: "GT Walsheim Pro", sans-serif, arial;
$FONT_FAMILY_MONOSPACED: "Fira Code", monospace, sans-serif, arial;
$FONT_FAMILY_HEADER: "GT Walsheim Pro", $FONT_FAMILY;
