// COLORS
$THEME_COLOR: #00684a;
$DARK_COLOR: #162328;
$WHITE_COLOR: #FFFFFF;
$LIGHT_COLOR: #E8E7B5;
$GRAY_COLOR: #e4ece1;
$DANGER_COLOR: #FF6347;

// SHAPES AND SIZES
$_5_SPACING_SIZE: 5px;
$_10_SPACING_SIZE: 10px;
$_20_SPACING_SIZE: 20px;

$FONT_SIZE: 15px;
$HEADER_SIZE: 40px;
$BORDER: 1.5px solid $GRAY_COLOR;
$BORDER_RADIUS: 0;

// TYPOGRAPHY
$FONT_FAMILY:  "GT Walsheim Pro", "Roboto", sans-serif, arial;
$FONT_FAMILY_MONOSPACED: "Fira Code", monospace, sans-serif, arial;
$FONT_FAMILY_HEADER: "GT Walsheim Pro", $FONT_FAMILY;