<ion-content>
  <app-header></app-header>

  <div class="page-content">
    <app-recently-viewed-egg></app-recently-viewed-egg>

    <!-- Section seperator -->
    <section class="content-wrapper">
      <br />
      <br />
      <div class="header-text-style small">Best picked contracts</div>
      <div class="paragraph-text-style" *ngIf="!this.isLoadingRecommended">
        Specially picked best perfoming contracts from our farms.
      </div>
      <span
        class="paragraph-text-style text-loader"
        *ngIf="this.isLoadingRecommended"
        >Fetching contracts from server</span
      >

      <div class="page-eggs-layout">
        <app-egg
          *ngFor="let recommendation of this.recommended"
          [data]="recommendation"
        ></app-egg>
      </div>
    </section>
  </div>

  <app-footer></app-footer>
</ion-content>
