@import "../../variables.scss";

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

// FUNDING STATISTICS
.funding-statistics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $_20_SPACING_SIZE;
  padding: $_20_SPACING_SIZE 0;
}

.funding-statistics .statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $_20_SPACING_SIZE;
  background: $WHITE_COLOR;
  gap: $_5_SPACING_SIZE;
}

.funding-statistics .statistic .name {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8rem;
}

.funding-statistics .statistic .value {
  font-size: 1.5rem;
  font-weight: 900;
}
